#cursor-tooltip {
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  color: white;
  font-size: 1.5rem;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  z-index: 9999;
}

#btn-dashboard {
  height: inherit;
}
#btn-dashboard.highlight {
  border: 4px solid red;
}

#fvtt-party-resources-dashboard {
  height: auto;
  min-height: 120px;
  width: auto;
}
#fvtt-party-resources-dashboard .version {
  color: #aaa;
  position: absolute;
  top: 7px;
  right: 60px;
  pointer-events: none;
}
#fvtt-party-resources-dashboard .window-content > p {
  display: flex;
  flex: initial;
  justify-content: center;
}
#fvtt-party-resources-dashboard .window-content .new-resource-form-btn-container {
  min-height: 32px;
}
#fvtt-party-resources-dashboard .window-content .new-resource-form-btn-container .new-resource-form-btn {
  min-height: 2rem;
}
#fvtt-party-resources-dashboard .window-content .resources {
  display: flex;
  flex: initial;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#fvtt-party-resources-dashboard .window-content .resources a {
  color: #555;
  text-decoration: none;
}
#fvtt-party-resources-dashboard .window-content .resources a:hover {
  background-color: #ccc;
  text-shadow: none;
}
#fvtt-party-resources-dashboard .window-content .resources .resource {
  text-align: center;
  margin: 4px;
  min-width: 175px;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions {
  border: 1px solid grey;
  border-top: none;
  display: grid;
  grid-template-columns: auto auto auto;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions .gm-action {
  padding: 2px 0;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions .gm-action:not(:last-child) {
  border-right: 1px solid grey;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info {
  border: 1px solid grey;
  cursor: move;
  margin: 0;
  padding: 8px 0;
  position: relative;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .value {
  font-size: 1.2rem;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .name {
  margin: 0 auto;
  word-wrap: break-word;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image {
  max-width: 50%;
  margin: 0 auto;
  position: relative;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image img {
  border: none;
  max-height: 100px;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image .value {
  color: white;
  pointer-events: none;
  font-size: 1.8rem;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image.text-below img {
  margin: 0 auto;
  width: 50px;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image.text-below .value {
  font-size: 1.4rem;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info .image.text-on-top .value {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info p {
  margin: 0;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value {
  align-items: center;
  display: flex;
  height: 100%;
  line-height: 50%;
  padding: 0 4px;
  position: absolute;
  top: 0;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value.add {
  border-left: 1px solid grey;
  right: 0;
}
#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value.subtract {
  border-right: 1px solid grey;
  left: 0;
}

#fvtt-party-resources-directions {
  animation: 250ms infinite alternate slidein;
  background-color: transparent;
  color: white;
  font-size: 8rem;
  position: absolute;
  right: 310px;
  text-shadow: 4px 0 0 black, -4px 0 0 black, 0 4px 0 black, 0 -4px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
  top: -65px;
  z-index: 999;
}

@keyframes slidein {
  from {
    right: 310px;
  }
  to {
    right: 330px;
  }
}
.resources.droppable .resource {
  background-color: #f9eac2;
}
.resources.droppable .resource.source {
  opacity: 0.3;
}

#add-resource-form label.checkbox, #edit-resource-form label.checkbox {
  /* Not sure why this was on 11px tbh. */
  font-size: 14px !important;
  margin-bottom: 5px;
}

.fvtt-party-resources-chat-notification {
  background-color: black;
  color: #eee;
  padding: 10px;
}
.fvtt-party-resources-chat-notification table tr td {
  font-size: 16px;
  width: 50%;
}
.fvtt-party-resources-chat-notification table tr td:nth-child(2) {
  font-weight: 700;
  text-align: center;
}
.fvtt-party-resources-chat-notification table tr td .small {
  font-size: 12px;
}
.fvtt-party-resources-chat-notification table tr td .green {
  color: green;
}
.fvtt-party-resources-chat-notification table tr td .red {
  color: red;
}

#fvtt-party-resources-notifications {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
}
#fvtt-party-resources-notifications .resource-notification {
  color: #eee;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
  position: relative;
  text-align: center;
}
#fvtt-party-resources-notifications .resource-notification:hover {
  background: rgba(0, 0, 0, 0.2);
}
#fvtt-party-resources-notifications .resource-notification i.close {
  color: #ff6400;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#fvtt-party-resources-notifications .resource-notification i.close:hover {
  text-shadow: 0 0 8px red;
}

#fvtt-party-resources-status-bar {
  background-color: rgba(0, 0, 0, 0.5);
  /* padding: 6px 10px; */
  pointer-events: auto;
  cursor: pointer;
}
#fvtt-party-resources-status-bar.full-width {
  width: 100%;
}
#fvtt-party-resources-status-bar.align-left {
  align-self: flex-start;
}
#fvtt-party-resources-status-bar.align-center {
  align-self: center;
}
#fvtt-party-resources-status-bar.align-right {
  align-self: flex-end;
}
#fvtt-party-resources-status-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fvtt-party-resources-status-bar ul.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#fvtt-party-resources-status-bar ul li {
  color: white;
  display: table-cell;
  float: left;
  font-size: 0.9rem;
  margin-right: 20px;
  margin-bottom: 0;
}
#fvtt-party-resources-status-bar ul li:last-child {
  margin-right: 0;
}
#fvtt-party-resources-status-bar ul li:hover {
  background: rgba(100, 100, 100, 0.5);
}
#fvtt-party-resources-status-bar ul li span {
  min-height: 30px;
  line-height: 30px;
  padding: 0 5px;
  pointer-events: none;
}
#fvtt-party-resources-status-bar ul li img {
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
  height: 30px;
  width: 30px;
}
#fvtt-party-resources-status-bar.full-width.align-left {
  align-self: inherit;
}
#fvtt-party-resources-status-bar.full-width.align-left ul {
  margin: 0;
}
#fvtt-party-resources-status-bar.full-width.align-center {
  align-self: inherit;
}
#fvtt-party-resources-status-bar.full-width.align-center ul {
  margin: 0 auto;
  width: fit-content;
}
#fvtt-party-resources-status-bar.full-width.align-right {
  align-self: inherit;
}
#fvtt-party-resources-status-bar.full-width.align-right ul {
  margin: 0 0 0 auto;
  width: fit-content;
}

/*# sourceMappingURL=init.css.map */
