<small class="version">v{{ version }}</small>

{{#if is_gm}}
  <p class="new-resource-form-btn-container">
    <button class="new-resource-form-btn">
      <i class="fas fa-plus"></i> {{ localize 'FvttPartyResources.ResourceForm.AddFormTitle' }}
    </button>
  </p>
{{/if}}

{{#if resources}}
  <section class="resources">
    {{#each resources}}
      {{#if visible_for_players }}
      <div class="resource" data-id="{{ id }}" data-position="{{ position }}">
        <div class="info">
          {{#if manageable}}
          <p>
            {{#if is_regular_resource}}
            <a class="change-value subtract" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.SubtractButtonTitle' }}">
              <i class="fas fa-minus"></i>
            </a>
            {{/if}}
          </p>
          {{/if}}

          {{#if use_icon}}
            <div class="image{{#if icon_on_top}} text-on-top{{else}} text-below{{/if}}">
              <img src="{{ icon }}" alt="{{ name }}" title="{{ name }}" />

              <div class="value">
                {{ value }}{{#if max_value}}/{{ max_value }}{{/if}}
              </div>
            </div>
          {{else}}
            <div class="value">
              {{ value }} {{#if max_value}} / {{ max_value }}{{/if}}
            </div>

            <div class="name">
              <strong>{{ name }}</strong>
            </div>
          {{/if}}

          {{#if manageable}}
          <p>
            {{#if is_regular_resource}}
            <a class="change-value add" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.AddButtonTitle' }}">
              <i class="fas fa-plus"></i>
            </a>
            {{/if}}
          </p>
          {{/if}}
        </div>
      {{/if}}

      {{#if is_gm}}
        <div class="gm-actions">
          {{#if visible}}
          <a class="gm-action visible" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.MakeInvisibleButtonTitle' }}"><i class="fas fa-eye-slash"></i></a>
          {{else}}
          <a class="gm-action invisible" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.MakeVisibleButtonTitle' }}"><i class="fas fa-eye"></i></a>
          {{/if}}
          <a class="gm-action edit" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.EditButtonTitle' }}"><i class="fas fa-edit"></i></a>
          <a class="gm-action delete" href="#" data-setting="{{ id }}" title="{{ localize 'FvttPartyResources.Dashboard.DeleteButtonTitle' }}"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}

      {{#if visible_for_players }}
      </div>
      {{/if}}
    {{/each}}
  </section>
{{else}}
  <p>
    {{ localize 'FvttPartyResources.Dashboard.BlankWarning' }}
  </p>
{{/if}}
