#btn-dashboard {
  height: inherit;

  &.highlight {
    border: 4px solid red;
  }
}

#fvtt-party-resources-dashboard {
  height: auto;
  min-height: 120px;
  width: auto;

  .version {
    color: #aaa;
    position: absolute;
    top: 7px;
    right: 60px;
    pointer-events: none;
  }

  .window-content {
    > p {
      display: flex;
      flex: initial;
      justify-content: center;
    }

    .new-resource-form-btn-container {
      min-height: 32px;

      .new-resource-form-btn {
        min-height: 2rem;
      }
    }

    .resources {
      display: flex;
      flex: initial;
      flex-wrap: wrap;
      justify-content: flex-start;

      a {
        color: #555;
        text-decoration: none;

        &:hover {
          background-color: #ccc;
          text-shadow: none;
        }
      }

      .resource {
        text-align: center;
        margin: 4px;
        min-width: 175px;

        .gm-actions {
          border: 1px solid grey;
          border-top: none;
          display: grid;
          grid-template-columns: auto auto auto;

          .gm-action {
            padding: 2px 0;

            &:not(:last-child) {
              border-right: 1px solid grey;
            }
          }
        }

        .info {
          border: 1px solid grey;
          cursor: move;
          margin: 0;
          padding: 8px 0;
          position: relative;

          .value {
            font-size: 1.2rem;
          }

          .name {
            margin: 0 auto;
            word-wrap: break-word;
          }

          .image  {
            max-width: 50%;
            margin: 0 auto;
            position: relative;

            img {
              border: none;
              max-height: 100px;
            }

            .value {
              color: white;
              pointer-events: none;
              font-size: 1.8rem;
              text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
            }

            &.text-below {
              img {
                margin: 0 auto;
                width: 50px;
              }

              .value {
                font-size: 1.4rem;
              }
            }

            &.text-on-top {
              .value {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          p {
            margin: 0;

            a {
              &.change-value {
                align-items: center;
                display: flex;
                height: 100%;
                line-height: 50%;
                padding: 0 4px;
                position: absolute;
                top: 0;

                &.add {
                  border-left: 1px solid grey;
                  right: 0;
                }

                &.subtract {
                  border-right: 1px solid grey;
                  left: 0;
                }
              }
            }
          }

        }
      }
    }
  }

}
