#cursor-tooltip {
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  color: white;
  font-size: 1.5rem;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 0;
  z-index: 9999;
}
