#btn-dashboard {
  &.highlight {
    border: 4px solid red;
    height: inherit;
  }
}

#fvtt-party-resources-dashboard {
  height: auto;
  min-height: 120px;
  width: auto;

  .window-content {
    > p {
      display: flex;
      flex: initial;
      justify-content: center;
    }

    .new-resource-form-btn {
      max-height: 2rem;
    }

    .resources {
      display: flex;
      flex: initial;
      flex-wrap: wrap;
      justify-content: flex-start;

      a {
        color: #555;
        text-decoration: none;

        &:hover {
          background-color: #ccc;
          text-shadow: none;
        }
      }

      .resource {
        text-align: center;
        margin: 4px;
        min-width: 175px;

        .gm-actions {
          border: 1px solid grey;
          border-top: none;
          display: grid;
          grid-template-columns: auto auto auto;

          .gm-action {
            padding: 2px 0;

            &:not(:last-child) {
              border-right: 1px solid grey;
            }
          }
        }

        .info {
          border: 1px solid grey;
          margin: 0;
          padding: 8px 0;
          position: relative;

          .value {
            font-size: 1.2rem;
          }

          .name {
            margin: 0 auto;
            width: 130px;
            word-wrap: break-word;
          }

          p {
            margin: 0;

            a {
              &.change-value {
                align-items: center;
                display: flex;
                height: 100%;
                line-height: 50%;
                padding: 0 4px;
                position: absolute;
                top: 0;

                &.add {
                  border-left: 1px solid grey;
                  right: 0;
                  color: green;
                }

                &.subtract {
                  border-right: 1px solid grey;
                  left: 0;
                  color: red;
                }
              }
            }
          }

        }
      }
    }
  }

}
