#btn-dashboard {
  height: inherit; }

#btn-dashboard.highlight {
  border: 4px solid red; }

#fvtt-party-resources-dashboard {
  height: auto;
  min-height: 120px;
  width: auto; }

#fvtt-party-resources-dashboard .version {
  color: #aaa;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%); }

#fvtt-party-resources-dashboard .window-content > p {
  display: flex;
  flex: initial;
  justify-content: center; }

#fvtt-party-resources-dashboard .window-content .new-resource-form-btn {
  max-height: 2rem; }

#fvtt-party-resources-dashboard .window-content .resources {
  display: flex;
  flex: initial;
  flex-wrap: wrap;
  justify-content: flex-start; }

#fvtt-party-resources-dashboard .window-content .resources a {
  color: #555;
  text-decoration: none; }

#fvtt-party-resources-dashboard .window-content .resources a:hover {
  background-color: #ccc;
  text-shadow: none; }

#fvtt-party-resources-dashboard .window-content .resources .resource {
  text-align: center;
  margin: 4px;
  min-width: 175px; }

#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions {
  border: 1px solid grey;
  border-top: none;
  display: grid;
  grid-template-columns: auto auto auto; }

#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions .gm-action {
  padding: 2px 0; }

#fvtt-party-resources-dashboard .window-content .resources .resource .gm-actions .gm-action:not(:last-child) {
  border-right: 1px solid grey; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info {
  border: 1px solid grey;
  margin: 0;
  padding: 8px 0;
  position: relative; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info .value {
  font-size: 1.2rem; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info .name {
  margin: 0 auto;
  width: 130px;
  word-wrap: break-word; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info p {
  margin: 0; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value {
  align-items: center;
  display: flex;
  height: 100%;
  line-height: 50%;
  padding: 0 4px;
  position: absolute;
  top: 0; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value.add {
  border-left: 1px solid grey;
  right: 0;
  color: green; }

#fvtt-party-resources-dashboard .window-content .resources .resource .info p a.change-value.subtract {
  border-right: 1px solid grey;
  left: 0;
  color: red; }
