#fvtt-party-resources-container {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: auto auto auto;

  .grid-item {
    text-align: center;
    min-width: 150px;

    p {
      border: 1px solid grey;
      margin: 0;
      padding: 8px 0;
      position: relative;

      a.change-value {
        align-items: center;
        display: flex;
        height: 100%;
        line-height: 50%;
        padding: 0 4px;
        position: absolute;
        text-decoration: none;
        top: 0;

        &:hover {
          background-color: #ccc;
          text-shadow: none;
        }

        &.add {
          border-left: 1px solid grey;
          right: 0;
          color: green;
        }

        &.subtract {
          border-right: 1px solid grey;
          left: 0;
          color: red;
        }
      }

      span.value {
        font-size: 1.2rem;
      }
    }
  }

}

#fvtt-party-resources-dashboard {
  height: auto;
}
