#party-resources-container .flexrow {
  border-top: 1px solid grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 4px; }

#party-resources-container h4 {
  text-align: center; }
