#custom-resources-container {
  h3 {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin: 0;
    text-align: center;
  }

  .flexrow {
    justify-content: space-around;
    padding: 0 4px;
  }

  .flexcol {
    text-align: center;

    p span.value {
      font-size: 1.2rem;
    }
  }
}
