#fvtt-party-resources-notifications {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 70px;
  left: 222px;
  max-width: 540px;

  .resource-notification {
    color: white;
    padding: 20px;
  }
}
