#fvtt-party-resources-notifications {
  background: rgba(0, 0, 0, 0.5);
  max-width: 540px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

#fvtt-party-resources-notifications .resource-notification {
  color: white;
  padding: 20px; }
